<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Apple</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'good/css/produce.css' %}">
{% block css %}{% endblock %}
</head>
<body>
{% include 'main/menu.html' %}
{% include 'produce/produce.html' %}
<h2>Apple -- {% block heading %}{% endblock %}</h2>
{% include 'main/messages.html' %}
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>