<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>iPhone</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'iphone/css/iphone.css' %}">
<link rel="stylesheet" href="{% static 'good/css/produce.css' %}">

</head>
<body>
{% include 'main/menu.html' %}
{% include 'produce/produce.html' %}
<h1>查詢結果</h1>
{% include 'iphone/searchForm.html' %}
<br><br><hr>
{% if not iphones %}
  <p>查無資料</p>
{% else %}
  <table class="table table-striped table-hover">
    <tr><th>標題</th><th>發表時間</th></tr>
    {% for iphone in iphones %}
    <tr>
      <td><a href="{% url 'iphone:iphoneRead' ipad.id %}">{{ iphone.title }}</a></td>
      <td>{{ iphone.pubDateTime|date:'Y-m-d H:i' }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
</body>
</html>
