ul#produce{
  margin: auto;
  text-align: left;
  background-color:darkgray;
  height:6em;
}

ul#produce li {                    
  display: inline-block;    
  margin-left: 1em;
  padding: inherit;
  margin-top: 2em;
}

ul#produce li a {
font-size: 2em;           
color: white;
text-decoration: none;
padding: 0.5em 0.5em;
}