<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Watch</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'watch/css/watch.css' %}">
<link rel="stylesheet" href="{% static 'good/css/produce.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
{% include 'produce/produce.html' %}
<h1>查詢結果</h1>
{% include 'watch/searchForm.html' %}
<br><br><hr>
{% if not watchs %}
  <p>查無資料</p>
{% else %}
  <table class="table table-striped table-hover">
    <tr><th>標題</th><th>發表時間</th></tr>
    {% for watch in watchs %}
    <tr>
      <td><a href="{% url 'watch:watchRead' watch.id %}">{{ watch.title }}</a></td>
      <td>{{ watch.pubDateTime|date:'Y-m-d H:i' }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
</body>
</html>
