<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Watch</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'good/css/produce.css' %}">
<link rel="stylesheet" href="{% static 'watch/css/watch.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
{% include 'produce/produce.html' %}
<h2>Watch產品</h2>
{% include 'main/messages.html' %}
{% include 'watch/searchForm.html' %}
{% if user.is_superuser %}
<p class="inlineBlock"><a class="btn" href="{% url 'watch:watchCreate' %}">新增產品</a></p>  {% endif %}<br><br><hr>
{% for watch, comments in watchs.items %}
  <h3 class="inlineBlock"><a href="{% url 'watch:watchRead' watch.id %}">{{ watch.title }}</a></h3>
 {% if user.is_superuser %} 
  <form class="inlineBlock" method="post" action="{% url 'watch:watchDelete' watch.id %}">
    {% csrf_token %}
    <input class="btn deleteConfirm" type="submit" value="刪除">
  </form>
    {% endif %}
  <p>發表時間：{{ watch.pubDateTime|date:'Y-m-d H:i' }}</p>
  <div class="watchContent">{{watch.content|linebreaks|truncatechars_html:30 }}</div>
  {% for comment in comments %}
    <div class="commentDiv">
      <span class="comment">{{ comment.content }}</span>
      <br>
      <span class="commentTime">{{ comment.pubDateTime|date:'m月d日 H:i' }}</span>
    </div>
  {% endfor %}
  <hr>
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src={% static 'main/js/deleteConfirm.js' %}></script>
</body>
</html>