<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>ADD Proude</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'watch/css/watch.css' %}">
<link rel="stylesheet" href="{% static 'good/css/produce.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
{% include 'produce/produce.html' %}
{% if watchForm.instance.id %}
  <h2>修改文章</h2>
  <form method="post" action="{% url 'watch:watchUpdate' watchForm.instance.id %}">
{% else %}
{% endif %}
<h2>新增產品</h2>
<form method="post" action="{% url 'watch:watchCreate' %}">
  {% csrf_token %}
  {{ watchForm.as_p }}
  <input  class="btn" type="submit" value="送出">
  <a class="btn" href="{% url 'watch:watch' %}">放棄</a>
</form>
</body>
</html>