.iphoneContent {
  padding: 20px;
  background-color: #e9e9e9;
  border: thin solid gray;
  border-radius: 10px;
}

.commentDiv {
  margin-top: 1em;
}

.comment {
  font-size: 0.8em;
}

.commentTime {
  font-size: 0.4em;
  color: #777777;
}

input[type=text] {
  padding: 0.4em;
}
/* Table */
.table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}

.table th {
  font-size: 1.1em;
  padding: 10px 0 10px 10px;
  text-align: left white;
  background-color:#FFAA33;
  border-bottom: 1px solid white
}

.table td {
  color: #CC6600;
  background-color:#FFFFBB;
  padding: 12px 0 12px 10px;
}

.table-striped tr:nth-child(even) td {
  background-color:  #FFEE99;
}

.table-hover tr:hover td {
  background-color:  black;
}
